@import "../../common/colors";

@each $colorname, $_ in $palette {
  .example--#{$colorname} {
    background-color: use-color($colorname);
    border: 1px solid use-color("white");
    display: block;
    float: left;
    font-weight: bold;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    white-space: pre;
    width: 150px;
    @if (lightness(use-color($colorname)) > 33) {
      color: use-color("black");
    } @else {
      color: use-color("white");
    }

    &::before,
    &::after {
      content: "";
      display: inline;
      font-weight: normal;
    }

    &::before {
      content: "'";
    }

    &::after {
      content: "'\a#{use-color($colorname)}";
    }
  }
}
