@import "../../common/colors";

$border: 1px solid rgba(0, 0, 0, 0.2);

.collection_wrapper {
  background-color: use-color("base-lightest");
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  height: 100%;
  padding: 10px;
}

.collection_wrapper_row {
  align-items: stretch;
  background-color: use-color("base-lightest");
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  > div {
    border-left: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.collection_detail {
  background-color: use-color("white");
  border: $border;
  padding: 10px;
}

.detail_header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 24px;
  gap: 10px;
  justify-content: stretch;
  width: 100%;

  > * {
    flex-grow: 1;
    flex-shrink: 1;
  }

  > img {
    flex-grow: 0;
    flex-shrink: 0;
    height: 64px;
    width: 64px;
  }
}

.collection_list {
  border: $border;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    align-items: center;
    background-color: use-color("white");
    border-bottom: $border;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;

    &:last-of-type {
      margin-bottom: -1px;
    }

    &:hover {
      background-color: use-rgba-color("white", 0.5);
    }

    > img {
      height: 54px;
      margin: 0 10px 0 0;
      width: 54px;
    }
  }
}

.desc {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25em;
  margin: 10px 0;

  .desc_title {
    color: use-color("ink");
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
  }

  .desc_text {
    color: use-color("ink");
    cursor: auto;
    font-size: 12px;
  }
}
