@import "../common/colors";

.container {
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: flex-start;
  position: relative;
  width: 100vw;

  .left_navbar {
    background-color: use-color("white");
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 75px;
  }

  .page_content {
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }

  .topbar {
    background-color: use-color("white");
    flex-grow: 0;
    flex-shrink: 0;
    height: 70px;
    position: relative;
    width: 100%;
  }
}
