@import "../../common/colors";

ul.nav_list {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 3px 0 0;
  width: 100%;

  li.nav_item {
    align-items: center;
    background: use-color("white");
    display: flex;
    flex-flow: column nowrap;
    margin: 3px 0;
    padding: 3px;
    text-align: center;

    // Items contain links, so lets remove the default link styles
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;
    }

    &.active {
      background: use-rgba-color("silver", 0.5);
    }

    &:hover {
      background: use-rgba-color("silver", 0.7);
    }

    .nav_icon {
      font-size: 42px;
      width: 100%;
    }

    .nav_desc {
      font-size: 14px;
    }
  }
}
