.narrative_item_outer {
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #ccc;

  &.active {
    background: #cdecff;
  }

  &:hover:not(.active):not(.dropdown_wrapper) {
    background: #eee;
    transition: background .15s ease-in;
  }
}

.narrative_list_loading_outer {
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,.5);
}

.narrative_list_loading_inner {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.list_footer {
  color: rgba(0,0,0,.5);
  padding: 1rem;
  display: inline-block;
  text-align: center;

  &.link_action {
    color: rgb(53,126,221);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: rgba(53,126,221, 0.7);
      transition: color .15s ease-in;
    }
  }
}

.narrative_item_inner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.narrative_item {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.narrative_item_text {
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.dropdown_wrapper {
  display: inline-block;
  max-width: 100px;
  margin-left: 10px;
}

.narrative_item_details {
  font-size: 0.8rem;
  color: #666;
}