.narrative_item_outer {
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #ccc;

  &.active {
    background: #cdecff;
  }
}

.narrative_item_inner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.narrative_item {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.narrative_item_text {
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.dropdown_wrapper {
  display: inline-block;
  max-width: 100px;
  margin-left: 10px;
}
