@import "./common/colors";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-orange {
  background-color: use_color("orange");
}

.bg-yellow {
  background-color: use_color("yellow");
}

.bg-green {
  background-color: use_color("green");
}

.bg-grellow {
  background-color: use_color("grellow");
}

.bg-blue {
  background-color: use_color("blue");
}

.bg-ocean-blue {
  background-color: use_color("ocean_blue");
}

.bg-teal {
  background-color: use_color("teal");
}

.bg-purple {
  background-color: use_color("purple");
}

.bg-frost-blue {
  background-color: use_color("frost_blue");
}

.bg-red {
  background-color: use_color("red");
}

.bg-grey {
  background-color: use_color("grey");
}
